:root{
    --airhacks-background: #008C00;
}

body{
    font-family: sans-serif;
    height: 120vh;
}

div{
    width: 80%;
    background-color: var(--airhacks-background)
}

.content{
    background-color: silver;
}

section{
    font-size: 24px;
}

#last{
    background-color: lightcoral;
    position: relative;
    top: 1rem;
    left: 2rem;
    bottom: 1em;
}

#detail{
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    border-color: black;
    border-width: 5px;
    border-style: dashed;
    background-color: var(--airhacks-background);
    font-size: 2rem;
}

.mono{
    font-family: monospace;
}
